h1 {
    color: blue;
    font-weight: bold;
    font-family: 'Rockwell', serif;
    text-align: center;
    font-size: 30px;
    border: 10px double black;
    padding-top: 15px;
    padding-bottom: 10px;
    background: lightskyblue; 
}

body{
    width: 530px;
    height: 500px;
    background: lightblue;
}

p{
    border-left: 1px black;
    border-right: 1px black;
}

ul li {
    cursor: pointer;
    position: relative;
    font-size: 18px;
    transition: 0.2s;

}

ul li.checked {
    background: #888;
    color: rgb(3, 2, 2);
    text-decoration: line-through;
}


button{
    font-family: fantasy;
    text-align: center;
    font-size: 15px;
    width: 50px;
    height: 50px;
}

    

